
   @model My_Pie_Shop.Models.Pie
   <div class="col-xs-6 text-center">
        <img class="img-responsive center-block" src="~/Images/ShoppingCart.jpg" style="width: 100px; height: 80px;"  align = "middle" />
   </div> 

   <h1 align = "center"> <u><i> SHOPPING CART </i> </u> </h1>
	
   <div>
    <a asp-action="PiesOfTheWeek" >Home</a> |
    <a asp-action="List">All Pies</a> 
   </div>