@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center text-light">
    <style>
        body{
            background-image:url("/Images/HomePageBg.webp");
        }
    </style>
    <h6 class="display-4" ><b><u> WELCOME TO PIE PLEASURE </u></b></h6>
    <div class="container-fluid">
      <p class="text-light text-center">Memorable Taste Made With Love.</p>
      <div class="col-xs-6 text-center">
        <img class="img-responsive center-block" src="~/Images/PieListImage.jpg" style="width: 270px; height: 300px;"  align = "middle" />
      </div> 
    </div>
</div>  

