@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>When you log into our Pie Services, we collect personal information that identifies you, such as your name and email address. If you're responsible for
   paying for our paid services, we may also collect and store your billing information. We also collect your IP address to monitor and prevent security 
   incidents.
</p>
<p>
   We may change this Privacy Policy in the future. We encourage you to review this privacy policy often to stay informed of changes that may affect you.
   sAll updates and amendments are affective immediately upon posting on this page. 
</p>
